{% extends "base.html" %}


{% block content%}
<div class="col-sm-6 col-sm-offset-3">
    <h1> List</h1><br />
    <form method="get" action="">
        <input type="text"  name="q" placeholder="Search Posts"/>
        <input type="submit" value="submit" />

    </form>
    <hr />
    {% for i in posts %}
    <div class="row">
    <!--{% url "posts:detail"  slug=i.slug%}-->


  <div class="col-sm-12 ">
    <div class="thumbnail">
      <!--<img src="..." alt="...">-->
        {% if i.image %}
            <img src="{{ i.image.url }}" class="img-responsive"/>
        {% endif %}
       <div class="caption">
           {% if i.draft %}<h4 style="color: #ba2121">Draft</h4> {% if i.publish > today %}<small style="color: #a41515">FUTURE POST</small>{% endif %}{% endif %}
        <h3><a href="{{ i.get_absolute_url  }}">{{ i.title }}</a> <small> {{ i.timestamp | timesince }} ago    </small></h3>
            <p>Author: {{ i.user }} </p>
           <p>{{ i.content | linebreaks | truncatechars:120}}</p>
        <p><a href="{{ i.get_absolute_url }}" class="btn btn-primary" role="button">View </a> </p>
      </div>
    </div>
   </div>

{% cycle "" "<div class='col-sm-12'><hr /></div></div><div class='row'>" %}
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?{{ page_reques_var }}={{ posts.previous_page_number }}&q={{ request.GET.q }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?{{ page_reques_var }}={{ posts.next_page_number }}&q={{ request.GET.q }}">next</a>
        {% endif %}
    </span>
</div>


    </div>
    </div>
{% endblock content %}